<script>


function isHidden(el) {
    return (el.offsetParent === null)
}
// Used to toggle the menu on small screens when clicking on the menu button
function side() {
    var x = document.getElementById("mySidebar");
    if (isHidden(x)) {
      x.className = x.className.replace(" w3-hide-small", "");
      x.className = x.className.replace(" w3-hide-medium", "");
      document.getElementById("myOverlay").style.display = "block";

    } else {
            x.className += " w3-hide-small w3-hide-medium";
            document.getElementById("myOverlay").style.display = "none";
    }
}

</script>
