<!-- login window -->

<div class="w3-container">

  <div  id="loginWindow" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('loginWindow').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <h2>Login</h2>
      </div>

      <form class="w3-container">
        <div class="w3-section" id="loginF">
          <div id="loginError" style="color:red;"></div>
          <label><b>Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" id="i1" placeholder="Enter Username" name="usrname" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border" type="password" placeholder="Enter Password" id="i2" name="psw" required>
          <button class="w3-button w3-block w3-theme w3-section w3-padding" type="submit" onclick="loginFunction()">Login</button>

        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('loginWindow').style.display='none'" type="button" class="w3-button w3-theme">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small w3-hide">Forgot <a href="#">password?</a></span>
      </div>

    </div>
  </div>
</div>






<!-- register window -->


<div class="w3-container" >

  <div  id="registerWindow" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('registerWindow').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <h2>Register</h2>
      </div>

      <form class="w3-container" id="regF">
        <div class="w3-section" >
          <div id="regError" style="color:red;"></div>
          <label><b>Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" id="r1" placeholder="Enter Username" name="usrname" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border" type="password" placeholder="Enter Password" id="r2" name="psw" required>
          <button class="w3-button w3-block w3-theme w3-section w3-padding" type="submit" onclick="regFunction()">Login</button>

        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('registerWindow').style.display='none'" type="button" class="w3-button w3-theme">Cancel</button>
        </div>

    </div>
  </div>
</div>



<!-- error box -->
<div class="w3-modal-content  centered" id="errorWindow" style="max-width:600px;display:none;z-index: 2;">
<div class="w3-card  w3-white" style="margin-top:0%">
<div class="w3-center "><br>
      <span onclick="document.getElementById('errorWindow').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      <h1 class="w3-text-theme">Oops</h1>
    </div>
      <div id="errorText"></div>

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <button onclick="document.getElementById('errorWindow').style.display='none'" type="button" class="w3-button w3-theme">Okay</button>

    </div>
</div>
</div>


<script>
//hide the login window
document.getElementById("loginWindow").style.display="none";
function showLogin(){
  document.getElementById("loginWindow").style.display="block";

}
function showRegister(){
  document.getElementById("registerWindow").style.display="block";

}



$("#loginF").keydown(function (e) {

  if (e.keyCode == 13) {
   e.preventDefault();
   loginFunction();
  }

});


$("#regF").keydown(function (e) {

  if (e.keyCode == 13) {
   e.preventDefault();
   loginFunction();
  }

});





function loginFunction() {
event.preventDefault();
$.post( "/sys/user/login.php", { username: $('#i1').val(), password:$('#i2').val() })
  .done(function( data ) {

	  if(data=="True"){
		 location.reload();
		  return;
	  }else if(data == "False"){
      $('#loginError').html("Incorrect details or account protected");
      $('#i2').val("");
      return true;
    }else{
      document.getElementById("loginWindow").style.display="none";
      document.getElementById("errorWindow").style.display="block";
      $('#errorText').html("An error has occurred <br> "+data);
      return true;
    }

  });
}

function regFunction() {
event.preventDefault();
  $.post( "/sys/user/register.php", { username: $('#r1').val(), password: $('#r2').val() })
    .done(function( data ) {

  	  if(data=="Registered"){
        $('#loginError').html("You can now login!");
        $("#i1").val($('#r1').val());
        document.getElementById('registerWindow').style.display='none'
        document.getElementById('loginWindow').style.display='block'

  		  return true;
      }else{
        $('#regError').html(data);
        return true;
      }

    });
}





</script>
