
<a href="/wjec">
  <div class="w3-half">
    <div class="w3-card w3-container w3-center" style="min-height:300px">
      <h3>WJEC</h3><br>
      <img src="/src/img/WJEC.jpg" height="150px">
    </div>
  </div>
</a>

<a href="/aqa">
  <div class="w3-half">
    <div class="w3-card w3-container w3-center" style="min-height:300px">
      <h3>AQA</h3><br>
      <img src="/src/img/aqa.jpg" hight="350px" width="300px">
    </div>
  </div>
</a>

<div class="w3-center">
<h1 class="w3-text-theme">What is this site?</h1>
<p>This site is for collaborative notes. To create or edit pages all you need to do is login!</p>
<p>The notes are specific for the exam board. As each exam board requires different amount of knowledge these pages are more specific.
 Hopefully after following the unit guidelines everything you need to know is here. Meaning you don't learn something that isn't needed.</p>
 <h1 class="w3-text-theme">How does it work?</h1>
 <p>For any pages that are missing anyone can create them. Once they are approved they'll be shown to the world!</p>
 <p>If content needs to be changed you can copy a page (with a click of a button) and edit them</p>
<h1 class="w3-text-theme">Current status</h1>
<p><a href="/status">For the current dev of the site please click here</a></p>

</div>
