<!-- Navbar -->

  <div class=" w3-theme w3-card">
<a href="#" class="w3-large w3-bar-item w3-button w3-padding-large w3-theme-dark">Notez.co.uk</a>


  {% if login %}
  <a href="#" class="w3-large w3-bar-item w3-button w3-padding-large w3-hover-white w3-right w3-hide-small">Editor</a>
  <a href="#" class="w3-large w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white w3-right">Edit</a>
  {% endif %}

  {% if not login %}
  <a href="#" class="w3-large w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white w3-right">Login</a>
    <a href="#" class="w3-large w3-bar-item w3-button w3-padding-large w3-hover-white w3-right w3-hide-small">Register</a>
  {% endif %}

</div>
